<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="theme-color" content="#000000">
      <!--
         manifest.json provides metadata used when your web app is added to the
         homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
         -->
      <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
      <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
      <link rel="stylesheet" href="/styles.css">
      <!--
         Notice the use of %PUBLIC_URL% in the tags above.
         It will be replaced with the URL of the `public` folder during the build.
         Only files inside the `public` folder can be referenced from the HTML.
         
         Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
         work correctly both with client-side routing and a non-root public URL.
         Learn how to configure a non-root public URL by running `npm run build`.
         -->
      <title>Lonely Hearts Dating</title>
   </head>
   <body ng-app="matchesModule">
      <noscript>
         You need to enable JavaScript to run this app.
      </noscript>
      <div class="text-center"  ng-controller="matchesController" >
         <div class="header">
            <h1>Lonely Hearts Dating Service</h1>
         </div>
         <h2>Search Criteria</h2>
         <form class="form" id="form">
            <div class="form-group">
               <label class="control-label">Age</label>
               <input type="number" ng-model="filters.ageMin"> to
               <input type="number" ng-model="filters.ageMax">
               <label class="control-label">Gender</label>
               <select ng-model="filters.gender">
                  <option value="">Any</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
               </select>
            </div>
            <button type="button" class="btn btn-default " ng-click="reset()">Reset</button>
         </form>
         <div class="container">
            <div class="contactOverlay ng-hide" ng-show="contactCardOpen">
               <div class="contactContainer">
                  <div class="contactImageContainer">
                     <div class="closeContact" ng-click="closeContact()">✖</div>
                     <img class="img-circle" src="{{selectedMatch.picture.large}}">
                  </div>
                  <h4>Name: {{selectedMatch.name.first}} {{selectedMatch.name.last}}</h4>
                  <h4>Age: {{selectedMatch.age}}</h4>
                  <div class="contactInformationContainer">
                     <p>Phone: <span>{{selectedMatch.phone}}</span></p>
                     <p>Cell: <span>{{selectedMatch.cell}}</span></p>
                     <p>Email: <span>{{selectedMatch.email}}</span></p>
                  </div>
               </div>
            </div>
            <p>Found {{filteredMatches.length}} matches</p>
            <div class="col-md-4" ng-repeat="match in matches | filter:filterMatches as filteredMatches">
               <match></match>
            </div>
         </div>
      </div>
   </body>
</html>