<div class="matchContainer">
	<div class="informationContainer">
		<div class="textBlock">
			<h4>{{match.name.first}} {{match.name.last}}</h4>
			<h4>{{match.age}}</h4>
			<a class="btn-lg btn-default" ng-click="showContactInformation(match)" role="button">Contact</a>
		</div>
	</div>
	<img style="" class="img-circle moveRight" src="{{match.picture.large}}" ">
</div>
