body {
    background-color: #252830!important;
    color:white!important;
}
input {
    color:black !important;
    margin: 0 10px !important;
}
select {
    color: black !important;
    margin: 0 10px !important;
    height:26px;
}
.header {
    padding:5px 0px 15px 0px;
    background-color:#1397db;
    margin-bottom:40px;
}
.img-circle {
    display: inline-block;
    width:140px;
    height:140px;
}
.container {
    border-radius:20px;
    padding: 5px 15px;
    background-color:#1397db;
    margin:40px 0px 80px 0px;
}

.moveRight {
    position: absolute;
    right:25px;
    top:7.5px;
}
.textBlock {
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    left:20px; 
    height:150px; 
    width:calc(100% - 200px)
}
@media (max-width: 500px) {
    .img-circle {
        width:120px;
        height:120px;
        top:17.5px;
    }
    .textBlock {
        width:calc(100% - 170px);
    }
    .informationContainer {
        display: inline-block;
    }
}
.contactImageContainer {
    background-color: #1175a9;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-bottom:30px;

}
.col-md-4 {
    margin: 20px 0px;
}
.btn-lg {
    margin: 20px auto !important;
    width:120px;
    display: block;
}
.matchContainer {
    background-color: #1175a9!important;
    border-radius:10px;
}
.informationContainer {
    height:150px;
    display: inline-block;
}
.contactOverlay {
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:1;
    background-color:rgba(0,0,0,0.8);
}
.contactContainer {
    margin: 0 auto;
    background-color:#1397db;
    width:300px;
    height:400px;
    margin-top:100px;
    border-radius: 10px;
}
.closeContact {
    width:30px;
    font-size:25px;
    cursor: pointer;
    margin-left:268px;
}
.contactInformationContainer {
    margin-top:40px;
}
.form {
    margin-bottom: 20px;
}